.sidebar {
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: initial;
    width: 300px;
    padding: 10px;
    height: 100%;
    position: fixed;
}
.menu-content {
    display:flex;
}
.menu-content ul {
    list-style: none;
}
.menu-content ul li {
    display: block;
    padding: 20px;
}
.menu-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0px;
}
.menu-content a:hover {
    text-decoration: none;
    color: dimgray;
}
.usuario {
    position: absolute;
    display: block flow-root;
    margin-left: 350px;   
}
.usuario-header{
    position: center;
}